body{
    background-color: rgb(39, 246, 246);
    border: 2px solid red;
}

.image{
    width: 300px;
    height: auto;
    border: 2px solid red;

}

h2{
    font-family: serif;
    color: red;
    border: 2px solid rgb(255, 0, 217);

}